
h1 {
    color: slategray;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: black;
font-family: 'Petit Formal Script', cursive;
}


h3 {
    color: slategray;
font-family: 'Petit Formal Script', cursive;
}

h4 {
    color: white;
font-family: 'Petit Formal Script', cursive;
}

.topBorder{
    background: rgb(199, 137, 147);
    padding: 20px;
    width: 100%;

}
.nav-link {
    color: slategray;
    margin-bottom: 40px;
}

.nav-link:hover {
    color: black;
}

.nameBanner {
    padding: 40px;
    margin-top: 10px;
}

#carouselExampleControls {
    max-height: 550px;
    max-width: 600px;
    margin: auto;
    display: block;
    justify-content: center;
}

.carousel-inner img {
    margin: auto;
    max-height: 550px;  
}


.backgroundImage {
    background-image: url(../images/1.jpg);
    width: 100%;
}

.aboutMe {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.aboutMePara {
    font-family: 'Montserrat', sans-serif;
    color: slategray;
}

.contactForm {
    width: 80%;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    float: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: slategray;
}

.formHeader {
    padding: 10px;
}

/* .portfolio-img {
    width: 50%;
    margin: auto;
    display: inline-block;
    max-height: 500px;
} */


.column {
    float: left;
    width: 50%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.myInformation {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    margin: auto;
}

a {
    color: slategray;
}

a:hover {
    color: black;
}

#aForm {
    color: white;
}



.footer {
    padding: 20px;
    margin-top: 10px;
    background: gray;
    width: 100%;
}




@media screen and (max-width: 980px) {
    .column {
      width: 100%;
    }

    #aForm,
    #aForm:visited {
        color: white !important;
    }


  }